src/step-function/invokelambda.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Prepare Query",
    "States": {
      "Prepare Query": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "crawlerplambda"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "Next": "Run Athena Query",
        "InputPath": "$.config",
        "ResultSelector": {
          "body.$": "$.Payload",
          "statuscode.$": "$.StatusCode"
        },
        "ResultPath": "$.lambdaresult"
      },
      "Run Athena Query": {
        "Type": "Task",
        "Resource": "arn:aws:states:::athena:startQueryExecution.sync",
        "InputPath": "$",
        "Parameters": {
          "QueryString.$": "$.lambdaresult.body.partition_sql",
          "WorkGroup": "primary"
        },
        "Next": "GetQueryRuntimeStatistics",
        "ResultPath": "$.athenaresult",
        "OutputPath": "$"
      },
      "GetQueryRuntimeStatistics": {
        "Type": "Task",
        "Parameters": {
          "QueryExecutionId.$": "$.athenaresult.QueryExecution.QueryExecutionId"
        },
        "Resource": "arn:aws:states:::aws-sdk:athena:getQueryRuntimeStatistics",
        "Next": "Lambda Write results S3",
        "ResultPath": "$.athenastats"
      },
      "Lambda Write results S3": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "crawlerplambda"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "End": true
      }
    }
  }